<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- DataSource & Connection info. -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver.class">org.postgresql.Driver</property>
        
        <!-- configure -->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/music</property>
        <property name="hibernate.connection.username">chris</property>
        <property name="hibernate.connection.password">test</property>
        <property name="hibernate.connection.pool_size">1</property>

        <!-- General Hibernate settings. -->
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <!-- DDL Mode. -->
        <property name="hbm2ddl.auto">update<!-- drop-create, create, update --></property>
        <!--  -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- All our Hibernate mapping XML files. -->
        <mapping resource="uk/ac/bham/cs/hibernate/music/model/Track.hbm.xml" />
        <mapping resource="uk/ac/bham/cs/hibernate/music/model/Album.hbm.xml" />
        <mapping resource="uk/ac/bham/cs/hibernate/music/model/Artist.hbm.xml" />
    </session-factory>
</hibernate-configuration>